/*!
    //@===2020/5/21===
*/
body {
    margin: (14px/2);
    padding: 0;
}
$defaltW: 100px;
$defaltH: 100px;
$highlight-color: #eaf0f7;
$highlight-border: 1px solid $highlight-color;
$g-padding: 10px;
$flex: flex;
$align: center;
section {
    border: $highlight-border;
    background-color: #f9f8f8;
    margin: {
        bottom: 20px;
        top: 30px;
    }
}
section .tips {
    border-bottom: 1px solid #03a9f4;
    color: #a5a5a5;
    padding: 5px 0 5px 10px;
}
$item-height: 80px;
section .warp {
    display: $flex;
    padding: $g-padding;
    .item {
        width: 100px;
        height: $item-height;
        cursor: pointer;

        transition-duration: 0.4s;
        line-height: $item-height;
        text-align: $align;
        border: {
            radius: 5px;
            left: 2px solid {
                color: #ffcc99;
            }
            top: 2px solid {
                color: #ccff99;
            }
            right: 2px solid {
                color: #ffcc99;
            }
            bottom: 5px solid $highlight-color {
                color: white;
            }
        }
        &:hover {
            color: white;
            background-color: #9e9e9e70;
            border: {
                //嵌套写法
                bottom: {
                    color: #99ccff;
                }
            }
        }
    }
}
$side: right;
section .warp {
    position: relative;
    div {
        margin-#{$side}: 5px; //如果变量需要镶嵌在字符串之中，就必须需要写在#{}之中。
    }
}

//继承 @extend
.box1 {
    width: 200px;
    height: 50px;
    background-color: #e8e7e7;
    box-shadow: 0 0 2px black;
    text-align: $align;
    line-height: 50px;
}

.box2 {
    @extend .box1;
    font-size: 100%;
}

//1@mixin命令，定义一个可重用代码块  2常用颜色代码
@mixin rounded-corners($color: red, $bgcolor: red) {
    border: $highlight-border;
    padding: $g-padding;
    color: $color;
    background-color: $bgcolor;
}

.box3 {
    //lighten(#cc3, 10%) // #d6d65c
    @include rounded-corners(black, lighten(#cc3, 10%));
}

.box4 {
    //darken(#cc3, 10%) // #a3a329
    @include rounded-corners(blue, darken(#cc3, 10%));
}
.box5 {
    //grayscale(#cc3) // #808080
    @include rounded-corners(black, grayscale(#cc3));
}
.box6 {
    //complement(#cc3) // #33c
    @include rounded-corners(blue, complement(#cc3));
}

$type: 1;
.box7 {
    width: $defaltW;
    height: $defaltH;
    border: $highlight-border;
    @if $type == 1 {
        color: blue;
    } @else if $type == 2 {
        color: red;
    } @else {
        color: black;
    }
}

@for $i from 1 through 4 {
    .item-#{$i} {
        width: (20px * $i);
    }
}


// @function double($n) {
// 　　　@return $n * 2;
// }
    
// .item-5 {
// 　　　width: double(5px);
// }