
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    text-decoration: none;
    list-style: none;
}
.container section{
    width: 100%;
    /* border: 1px solid rgba(231,231,233,1); */
}
.wrap-header{
    height: 45px;
    background: #353535;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 8px;
    color: #ffffffab;
    border-bottom: 1px solid rgba(231,231,233,1);
    background-image: linear-gradient(to right, #f9f9f9 -2%, #353535 56%);
}
.wrap-header:hover,.wrap-header-active{
    background-image: linear-gradient(to right, #353535 -2%, #f9f9f9 56%);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    transition: all ease .4s;
    color: white;
}
.wrap-header:hover i,.wrap-header-i-active{
    color: #353535 !important;
}
.wrap-header span{
    font-weight: bold;
    font-size: 16px;
}
.wrap-header i{
    cursor: pointer;
}
.wrap-content{
    min-height: 400px;
    display: none;
    padding: 5px;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    color: #d3d8d6;
    transition: all ease .3s;
}
.more:hover{
    color: #66CC99;
    transition: all ease .3s;
}

/**消息模板CSS-START**/
.info{
    width: 800px;
    position: relative;
}
.info #infoTemplate{
    width: 787px;
    min-height: 82px;
    border: 1px solid rgba(231,231,233,1);
    outline: none;
    padding: 5px;
}
.info ul{
    border: 1px solid rgba(231,231,233,1);
    display: none;
}
.info ul li {
    width: 100%;
    height: 32px;
    color: #777b79;
    cursor: pointer;
    line-height: 32px;
    background: white;
    border-bottom: 1px solid rgba(231,231,233,1);
    transition: all ease .3s;
}
.info ul li:hover{
    background: #666699;
    color: white;
    transition: all ease .3s;
}
.info-active{
    background: #666699 !important;
    color: white !important;
}
.info ul li:last-child{
    border: none;
}
.info i{
    position: absolute;
    top: 35px;
    color: #666699;
    font-size: 18px;
    cursor: pointer;
    transition: all ease .3s;
}
.info .plus-btn{
    right: -24px;
}
.info i:last-child{
    right: -66px;
}
.info i:hover{
    transform: rotate(360deg);
    transition: all ease .3s;
}
#infoTemplate input{
    width: 101px;
    text-align: center;
    background: cadetblue;
    color: white;
    border: none;
    height: 21px;
    margin: 0 5px 5px 0;
}
/**消息模板CSS-OVER**/

/**特效CSS3-BUTTON-start**/
:root {
    --height: 66px;
    --width: 200px;
}
.wrapper {
    width: calc(4 * var(--width));
    height: calc(4 * var(--height));
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.button {
    position: relative;
    width: calc(0.8 * var(--width));
    height: calc(0.7 * var(--height));
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 0 0.8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0, 0.22, 0.3, 1);
}
.button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
}

.button span {
    color: #fff;
    font-size: 1rem;
    z-index: 10;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button._1 {
    background: #CCCC33;
}
.button._2 {
    background: #CCFFCC;
}
.button._3 {
    background: #16a085;
}
.button._4 {
    background: #CCFFFF;
}
.button .back {
    position: absolute;
    width: 0;
    height: 0;
    filter: url(#filter);
    border-radius: 50%;
    z-index: 5;
    transition: all 2.5s cubic-bezier(0.1, 0.22, 0.3, 1);
}
.button._1 .back {
    left: -50%;
    top: -50%;
    background: #336699;
}
.button._2 .back {
    right: -50%;
    top: -50%;
    background: #66CC99;
}
.button._3 .back {
    left: -50%;
    bottom: -50%;
    background: #FFCC99;
}
.button._4 .back {
    right: -50%;
    bottom: -50%;
    background: #2980b9;
}
.button:hover .back {
    width: calc(2 * var(--width));
    height: calc(2 * var(--height));
}
  
@media only screen and (max-width: 750px) {
    .wrapper {
      flex-direction: column;
    }
    .button {
      margin: 0.8rem 0;
    }
}

/***==========================*/
.looadbar{
    width:0px;
    height: 3px;
    background: #2980b9;
    opacity:0.25
}
.option-box{
    display: flex;
    margin-top: 20px;
}
.option-box > span{
    display: block;
    width: 80px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    border: 1px solid #555555;
    box-shadow: 0 0 2px #555555;
    color:#555555;
    font-weight: bold;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.option-box > span:hover{
    color:white;
    background: #555555;
}

.option-box-active{

}

.s-step{
    width: 800px;
    margin: 20px 0 0 50px;
}
.s-step>section{
    width: 100%;
    position: relative;
    display: flex;
    padding-bottom: 20px;
}
.s-modular::before,
.s-modular::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #66cc9963;
    position: absolute;
    top: 15px;
    left: -30px;
    border-radius: 50%;
    z-index: 9;
}
.s-modular::after{
   width: 10px;
   height: 10px;
   z-index: 10;
   background: #66CC99;
   left: -25px;
   top: 20px;
}
.s-m-info{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}
.s-m-type{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #66CC99;
    color: white;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    box-shadow: 0px 0px 0px 0px #66CC99;
    transform: scale(1); 
    transition: box-shadow 0.6s, transform 0.5s; 
}
.s-m-type:hover{
    background: white;
    color: #66CC99;
    /* box-shadow: 0 0 8px #66CC99; */
    box-shadow: 0px 0px 20px 5px #66CC99;
	transition: box-shadow 0.5s;
}
.s-m-title{
    margin: 5px 0 5px 0;
    cursor: pointer;
}
.s-m-title:hover{
    text-decoration: underline;
}
.s-m-remark{
    max-width: 700px;
    color: burlywood;
    user-select: none;
}

.s-step>section>i{
    position: absolute;
    height: 100%;
    width: 1px;
    position: absolute;
    left: -21px;
    top: 30px;
    border-left: 1px dashed #66CC99;
}
.s-step>section:last-child i{
    border-left: 0;
}


/**下拉组件CSS**/
.c-combox-ipt{
    width: 400px;
    height: 34px;
    /* background: #e1e7ea; */
    color: #2b2d2c;
    border: 1px solid #e1e7ea;
    line-height: 34px;
    padding-left: 5px;
    float:right;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.c-combox-ul{
    position: absolute;
    width: 100%;
    left: 0;
    top: 133px;
    display: none;
    opacity: 0.25;
    background: blanchedalmond;
}

.c-combox-ul li{
    height: 34px;
    background: #848484;
    color: white;
    padding-left: 5px;
    margin-bottom: 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.combox-active,.c-combox-ul li:hover{
    background: blanchedalmond !important;
    color: #848484 !important;
}


/***图片系列*/
.img-box{
    display: flex;
    flex-wrap: wrap;
}
.img-item{
    width: 149px;
    height: 182px;
    background: url(../JS常用技巧/image/img/img-1.webp) no-repeat;
    background-size: 100% 100% !important;
    margin: 0 20px 20px 0;
    box-shadow: 0px 0px 5px 3px #353535;
    position: relative;
    cursor: pointer;
}
.img-item:nth-child(2){
    background: url(../JS常用技巧/image/img/img-2.webp)100% 100% no-repeat;
}
.img-item:nth-child(3){
    background: url(../JS常用技巧/image/img/img-3.webp)100% 100% no-repeat;
}
.img-title{
    width: 100%;
    height: 42px;
    background: #cec9c97d;
    color: white;
    font-weight: bold;
    line-height: 42px;
    padding-left: 5px;
    position: absolute;
    bottom: 0;
}
.img-item:hover .img-title{
    color: #16a085;
}

.wrap-box{
    display: flex;
    flex-wrap: wrap;
}
.item-box{
    width: 940px;
    min-height: 300px;
    border:1px solid #efecea;
    padding: 10px;
}
.item-box:nth-child(odd){
    border-right: 1px;
}
.bottom-1{
    border-bottom: 1px;
}

.commonBtn{
    display: inline-block;
    height: 32px;
    background: #16a085;
    padding: 0px 16px;
    color: white;
    text-align: center;
    font-weight: bold;
    user-select: none;
    line-height: 32px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.commonBtn:hover,.commonBtn-active{
    background: #353535;
}

.odiv{
    width: 600px;
    min-height: 70px;
    padding: 6px;
    border: 1px solid #efefef;
    margin-top: 8px;
    text-indent: 18px;
    color: #5a5a5a;
    user-select: none;
    display: flex;
}
.odiv img{
    width: 100px;
    min-height: 70px;
    padding: 6px;
    max-height: 96px;
    border: 1px solid #efedec;
}
.odiv p{
    padding-left: 6px;
    /* color: #8a8989; */
}

/**选项卡**/
.header-nav{
    /* box-shadow: 0 0 15px -1px; */
    border: 1px solid #efecea;
    border-top: 0;
    background: white;
    overflow: hidden;
}
.header-nav ul{
    display: flex;
}
.header-nav ul li{
    height: 32px;
    width: 153px;
    border-right: 1px solid #efecea;
    border-bottom: 1px solid #efecea;
    border-top: 1px solid #efecea;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    user-select: none;
}
.header-nav ul li:last-child{
    border-right: 0;
}
.s_active{
    border-top: 2px solid #16a085 !important;
    border-bottom:none !important;
    color: #16a085 !important;
}
.select_content_box{
    width: 5502px;
    height: 245px;
    display: flex;
    position: absolute;
    left: 0;
}
.select_content_box div{
    padding: 10px;
    width: 917px;
    height: 245px;
    /* display: none; */
}
.select_content_box div:first-child{
    display: block;
}
.select_box_father{
    position: relative;
    height: 245px;
}


.directionmark{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: 100px;
    border-radius: 50%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    font-size: 28px;
}
.directionmark i{
    margin: auto;
}