
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    text-decoration: none;
    list-style: none;
}
.container section{
    width: 100%;
    /* border: 1px solid rgba(231,231,233,1); */
}
.wrap-header{
    height: 45px;
    /* background: #66CC99; */
    background: #a8adab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 8px;
    color: white;
    border-bottom: 1px solid rgba(231,231,233,1);
}
.wrap-header span{
    font-weight: bold;
    font-size: 16px;
}
.wrap-header i{
    cursor: pointer;
}
.wrap-content{
    min-height: 400px;
    display: none;
    padding: 5px;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    color: #d3d8d6;
    transition: all ease .3s;
}
.more:hover{
    color: #66CC99;
    transition: all ease .3s;
}

/**消息模板CSS-START**/
.info{
    width: 800px;
    position: relative;
}
.info #infoTemplate{
    width: 787px;
    min-height: 82px;
    border: 1px solid rgba(231,231,233,1);
    outline: none;
    padding: 5px;
}
.info ul{
    border: 1px solid rgba(231,231,233,1);
    display: none;
}
.info ul li {
    width: 100%;
    height: 32px;
    color: #777b79;
    cursor: pointer;
    line-height: 32px;
    background: white;
    border-bottom: 1px solid rgba(231,231,233,1);
    transition: all ease .3s;
}
.info ul li:hover{
    background: #666699;
    color: white;
    transition: all ease .3s;
}
.info-active{
    background: #666699 !important;
    color: white !important;
}
.info ul li:last-child{
    border: none;
}
.info i{
    position: absolute;
    top: 35px;
    color: #666699;
    font-size: 18px;
    cursor: pointer;
    transition: all ease .3s;
}
.info .plus-btn{
    right: -24px;
}
.info i:last-child{
    right: -66px;
}
.info i:hover{
    transform: rotate(360deg);
    transition: all ease .3s;
}
#infoTemplate input{
    width: 101px;
    text-align: center;
    background: cadetblue;
    color: white;
    border: none;
    height: 21px;
    margin: 0 5px 5px 0;
}
/**消息模板CSS-OVER**/

/**特效CSS3-BUTTON-start**/
:root {
    --height: 66px;
    --width: 200px;
}
.wrapper {
    width: calc(4 * var(--width));
    height: calc(4 * var(--height));
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.button {
    position: relative;
    width: calc(0.8 * var(--width));
    height: calc(0.7 * var(--height));
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 0 0.8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0, 0.22, 0.3, 1);
}
.button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
}

.button span {
    color: #fff;
    font-size: 1rem;
    z-index: 10;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button._1 {
    background: #CCCC33;
}
.button._2 {
    background: #CCFFCC;
}
.button._3 {
    background: #16a085;
}
.button._4 {
    background: #CCFFFF;
}
.button .back {
    position: absolute;
    width: 0;
    height: 0;
    filter: url(#filter);
    border-radius: 50%;
    z-index: 5;
    transition: all 2.5s cubic-bezier(0.1, 0.22, 0.3, 1);
}
.button._1 .back {
    left: -50%;
    top: -50%;
    background: #336699;
}
.button._2 .back {
    right: -50%;
    top: -50%;
    background: #66CC99;
}
.button._3 .back {
    left: -50%;
    bottom: -50%;
    background: #FFCC99;
}
.button._4 .back {
    right: -50%;
    bottom: -50%;
    background: #2980b9;
}
.button:hover .back {
    width: calc(2 * var(--width));
    height: calc(2 * var(--height));
}
  
@media only screen and (max-width: 750px) {
    .wrapper {
      flex-direction: column;
    }
    .button {
      margin: 0.8rem 0;
    }
}

/***==========================*/
.effect{
    width: 200px;
    height: 200px;
    background: #CCFFFF;
}